.main{
	font-size: 25px;
	margin: 50px auto;
	text-align: center;
}
#msg{
	width: 300px;
	height: 40px;
	border: 1px solid #a8a8a8;
	border-radius: 5px;
	padding-left: 10px;
}
p{
	color: #ccc;
	font-size: 20px;
}
button{
	font-size: 25px;
	width: 100px;
	height: 40px;
	background: #2563AD;
	border-radius: 5px;
	color: #fff;
	border: none;
	cursor: pointer;msg
}