#left{	
	width: 30%;
	float: left;
	border: 1px solid #aaa;
	margin-right: 30px;
}
#right{
	width: 60%;
	float: left;
	border: 1px solid #aaa;
	border-radius: 5px;
	text-align: center;
}
#right h1{
	color: #798CE8;
}